<div
  class="container-fluid"
  style="display: flex; justify-content: center; height: 100vh"
>
  <div class="form-container">
    <h2 class="login-title">Log in</h2>

    <form class="login-form">
      <div>
        <label for="email">Email </label>
        <input
          id="email"
          type="email"
          placeholder="me@example.com"
          name="email"
          [(ngModel)]="form.email"
          required
        />
      </div>

      <div class="py-2">
        <label for="password">Password </label>
        <input
          id="password"
          type="password"
          placeholder="password"
          name="password"
          [(ngModel)]="form.password"
          required
        />
      </div>

      <div class="pb-3">
        <label for="roles">Roles </label>
        <select name="roles" id="role" [(ngModel)]="form.role">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>

      <button (click)="onSubmit()" class="btn btn--form" type="submit" value="Log in">Log in</button>
      
    </form>
  </div>
</div>
