<div
  class="page-wrapper chiller-theme"
  [ngClass]="{ toggled: isSidebarToggled }"
>
  <a id="show-sidebar" class="btn btn-sm btn-dark" (click)="toggleSidebar()">
    <img src="assets/icons/bars.svg" alt="" />
  </a>

  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Yolo App</a>
        <div id="close-sidebar" (click)="closeSidebar()">
          <img src="assets/icons/bars.svg" alt="" />
        </div>
      </div>

      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="header-menu">
            <span>Streaming</span>
          </li>
          <li>
            <a routerLink="/camera">
              <i class="fa fa-video-camera" aria-hidden="true"></i>
              <span>Camera</span>
            </a>
          </li>

          <li class="header-menu">
            <span>Admistration</span>
          </li>

          <li>
            <a routerLink="/configure" routerLinkActive="active">
              <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
              <i class="fa fa-gear" aria-hidden="true"></i>
              <span>Configure</span>
            </a>
          </li>

          <li>
            <a routerLink="/history" routerLinkActive="active">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>History</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>

  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
