 <div class="container-fluid padd h-100 ">

    <div style="background: gray; padding: 50px; border-radius: 6px;">
    
<h3 class="pb-5">Camera Views Screen 1</h3>

    <div class="row">
        <div class="col-md-4 d-flec-c ">
            <img src="../../../assets/images/img-1.PNG" alt="">
        </div>
        <div class="col-md-4 d-flec-c ">
            <img src="../../../assets/images/img-3.PNG" alt="">
        </div>
        <div class="col-md-4 d-flec-c ">
         <img src="../../../assets/images/img-2.PNG" alt="">
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-md-4 d-flec-c ">
            <img src="../../../assets/images/img-1.PNG" alt="">
        </div>
        <div class="col-md-4 d-flec-c ">
            <img src="../../../assets/images/img-3.PNG" alt="">
        </div>
        <div class="col-md-4 d-flec-c ">
         <img src="../../../assets/images/img-2.PNG" alt="">
        </div>
    </div>


    <div class="row pt-5">
        <div class="col-md-4 d-flec-c ">
            <img src="../../../assets/images/img-1.PNG" alt="">
        </div>
        <div class="col-md-4 d-flec-c ">
            <img src="../../../assets/images/img-3.PNG" alt="">
        </div>
        <div class="col-md-4 d-flec-c ">
         <img src="../../../assets/images/img-2.PNG" alt="">
        </div>
    </div>


</div>
 </div>
