<div class="container-fluid"><div class="row pt-5">
    <div class=" col-sm-6 cameraView">
      <!--Img frame 1-->
          <div class="card"  >
            <div style="background-color: cadetblue; text-align: center;"><h3>CAM1 Streaming</h3></div>
            <img class="card-img-top" [src]="Image_cam1" alt="Card image cap">
          </div>
        </div>

        <div class=" col-sm-6 cameraView">
          <!--    Img frame 2-->
          
              <div class="card">
                <div style="background-color: brown; text-align: center;"><h3>CAM2 Streaming</h3></div>
                <img class="card-img-top" [src]="Image_cam2" alt="Card image cap">
              </div>
            </div>
  </div></div>