.card-title {
    display: flex;
    justify-content: space-between;
}

.card-text {
    display: flex;
    justify-content: center;
}

.text2 {
    font-size: 32px;
    font-weight: 600;
    color: #f34738;
}
.text1 {
    font-size: 32px;
    font-weight: 600;
    color: #40a9f4;
}
.text3 {
    font-size: 32px;
    font-weight: 600;
    color: #fac475;
}