 
<div class="container-fluid">
    <div class="row pt-5">

    

        <div class="col-md-4">
            <div class="card">
        
                <div class="card-body">
                    <p class="card-title"> <span> Card title</span> <span>last week</span></p>
                  <p class="card-text text1">1</p>
                  <p class="card-text">Detected</p>
                </div>
                <div class="card-footer">
                    <a > Car 0</a>
                </div>
              </div>
        </div>

              <div class="col-md-4">
                <div class="card"  >
 
                    <div class="card-body">
                        <p class="card-title"> <span> Card title</span> <span>last week</span></p>
                      <p class="card-text text2">262</p>
                      <p class="card-text">Detected</p>
                  
                    </div>
                    <div class="card-footer">
                        <a > Car 0</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card"  >
 
                    <div class="card-body">
                      <p class="card-title"> <span> Card title</span> <span>last week</span></p>
                      <p class="card-text text3">1</p>
                      <p class="card-text">Detected</p>
               
                    </div>
                    <div class="card-footer">
                        <a > Car 0</a>
                    </div>
                  </div>
            </div>
        </div>
    <div class="row pt-5">
      <div class=" col-sm-6 cameraView">
        <!--Img frame 1-->
            <div class="card"  >
              <div style="background-color: cadetblue; text-align: center;"><h3>CAM1 Streaming</h3></div>
              <img class="card-img-top" [src]="Image_cam1" alt="Card image cap">
            </div>
          </div>

          <div class=" col-sm-6 cameraView">
            <!--    Img frame 2-->
            
                <div class="card">
                  <div style="background-color: brown; text-align: center;"><h3>CAM2 Streaming</h3></div>
                  <img class="card-img-top" [src]="Image_cam2" alt="Card image cap">
                </div>
              </div>
    </div>
  
</div>